JWT_SECRET_KEY=
HASH_SALT=

REDIS_HOST=redis-server
REDIS_INTERNAL_PORT=6379
REDIS_PASSWORD=

RATE_LIMIT_SERVICE_INTERNAL_PORT=8080

PROXY_TARGET_HOST=
PROXY_TARGET_PORT=

DATA_PREPROCESSOR_SERVICE_BASEURL=
DATA_PREPROCESSOR_SERVICE_PORT=

