RATE_LIMIT_SERVICE_INTERNAL_PORT=8080
REDIS_HOST=redis-shared-memory-test
REDIS_INTERNAL_PORT=6379
REDIS_PASSWORD=
TOKEN_ROUTE_ID=token-manager-token-route
REAL_IP_HEADER=X-Real-IP
FORWARDED_CLIENT_IP_HEADER=X-Gateway-Client-Ip
TRUSTED_FORWARDED_HEADERS=X-Real-IP,X-Forwarded-For,X-Forwarded-Proto,X-Forwarded-Host,X-Forwarded-Port,Forwarded
AUTH_GATEWAY_SHARED_SECRET_HEADER=X-Gateway-Auth
AUTH_GATEWAY_SHARED_SECRET=
TOKEN_MANAGER_SERVICE_URI=http://token-manager-service:8080
AI_DETECTOR_SERVICE_URI=http://ai-detector-service:8080
JWKS_SRC_URL=http://token-manager-service:8080/.well-known/jwks.json
