REDIS_HOST=redis-server
REDIS_INTERNAL_PORT=6379
REDIS_PASSWORD={{ vault_redis_password }}

RATE_LIMIT_SERVICE_INTERNAL_PORT=8080
BPL_JVM_THREAD_COUNT={{ staging_bpl_jvm_thread_count | default('32') }}
JAVA_TOOL_OPTIONS={{ staging_java_tool_options | default('-Xmx128m -XX:ReservedCodeCacheSize=32M -XX:MaxMetaspaceSize=96M -Xss512k') }}

TOKEN_ROUTE_ID=token-manager-token-route

REAL_IP_HEADER=X-Real-IP
FORWARDED_CLIENT_IP_HEADER=X-Gateway-Client-Ip
TRUSTED_FORWARDED_HEADERS=X-Real-IP,X-Forwarded-For,X-Forwarded-Proto,X-Forwarded-Host,X-Forwarded-Port,Forwarded
AUTH_GATEWAY_SHARED_SECRET_HEADER=X-Gateway-Auth

AUTH_GATEWAY_SHARED_SECRET={{ vault_auth_gateway_shared_secret }}

PROXY_API_HOST=rate-limiting-service
PROXY_API_PORT=8080
PROXY_FE_HOST=ai-text-detector-frontend
PROXY_FE_PORT=3000

BACKEND_API_URL={{ staging_backend_api_url | default('https://ai-detect-staging') }}
FRONTEND_ENV={{ staging_frontend_env | default('production') }}

TOKEN_MANAGER_SERVICE_URI=http://token-manager-service:8080
AI_DETECTOR_SERVICE_URI=http://model-handler-service:8080
JWKS_SRC_URL=http://token-manager-service:8080/.well-known/jwks.json

POSTGRES_DB={{ staging_postgres_db | default('model_handler_staging_db') }}
POSTGRES_USER={{ staging_postgres_user | default('model_handler') }}
POSTGRESDB_PASSWORD={{ vault_postgresdb_password }}

JWT_SECRET_KEY={{ vault_jwt_secret_key }}
IS_ANONYM_USER_HEADER=X-IS-USER-ANONYM
MODEL_URL=http://transformer-model-service:8000
POSTGRES_URL=postgres-service:5432

PYTHONUNBUFFERED=1

PROMTAIL_LOG_LEVEL={{ staging_promtail_log_level | default('info') }}
LOKI_PUSH_URL=http://loki:3100/loki/api/v1/push

GRAFANA_PORT={{ staging_grafana_port | default('3000') }}
GRAFANA_ADMIN_USER={{ vault_grafana_admin_user | default('admin', true) }}
GRAFANA_ADMIN_PASSWORD={{ vault_grafana_admin_password }}
GRAFANA_ROOT_URL={{ staging_grafana_root_url | default('http://localhost:3000') }}
GRAFANA_LOKI_URL=http://loki:3100
