JWT_SECRET_KEY=
POSTGRESDB_PASSWORD=
IS_ANONYM_USER_HEADER=X-IS-USER-ANONYM
POSTGRES_DB=model_handler_db
POSTGRES_USER=model_handler
MODEL_URL=http://transformer-model-service:8000
POSTGRES_URL=postgres-service:5432