REDIS_HOST=redis-server
REDIS_INTERNAL_PORT=6379
REDIS_PASSWORD=change-me

RATE_LIMIT_SERVICE_INTERNAL_PORT=8080

TOKEN_ROUTE_ID=token-manager-token-route

REAL_IP_HEADER=X-Real-IP
FORWARDED_CLIENT_IP_HEADER=X-Gateway-Client-Ip
TRUSTED_FORWARDED_HEADERS=X-Real-IP,X-Forwarded-For,X-Forwarded-Proto,X-Forwarded-Host,X-Forwarded-Port,Forwarded
AUTH_GATEWAY_SHARED_SECRET_HEADER=X-Gateway-Auth

AUTH_GATEWAY_SHARED_SECRET=change-me

PROXY_API_HOST=rate-limiting-service
PROXY_API_PORT=8080
PROXY_FE_HOST=ai-text-detector-frontend
PROXY_FE_PORT=3000

BACKEND_API_URL=https://ai-detect-staging
FRONTEND_ENV=production

TOKEN_MANAGER_SERVICE_URI=http://token-manager-service:8080
AI_DETECTOR_SERVICE_URI=http://model-handler-service:8080
JWKS_SRC_URL=http://token-manager-service:8080/.well-known/jwks.json

POSTGRES_DB=model_handler_staging_db
POSTGRES_USER=model_handler
POSTGRESDB_PASSWORD=change-me

JWT_SECRET_KEY=change-me
IS_ANONYM_USER_HEADER=X-IS-USER-ANONYM
MODEL_URL=http://transformer-model-service:8000
POSTGRES_URL=postgres-service:5432

PYTHONUNBUFFERED=1

PROMTAIL_LOG_LEVEL=info
LOKI_PUSH_URL=http://loki:3100/loki/api/v1/push

GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me
GRAFANA_ROOT_URL=http://localhost:3000
GRAFANA_LOKI_URL=http://loki:3100
